<h3 class="text-center my-4">請修改你的支出</h3>

{{!-- 驗證失敗將錯誤項目提示使用者 --}}
{{> recordContentFieldsError}}
{{!-- 驗證失敗將錯誤項目提示使用者 --}}

<div class="container my-3">
  <div class="row">
    <div class="col-10 col-lg-6 col-sm-8 mx-auto">
      <form action="/records/{{record._id}}?_method=PUT"
            method="POST"
            class="was-validated pl-5">
        <div class="form-group form-inline">
          <label for="name"
                 class="mr-5">名稱*</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 placeholder="name"
                 value="{{record.name}}"
                 required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group form-inline">
          <label for="date"
                 class="mr-5">日期*</label>
          <input type="date"
                 name="date"
                 class="form-control"
                 value="{{getCalendarDate record.date}}"
                 required>
        </div>
        <div class="form-group form-inline">
          <label for="category"
                 class="mr-5">類別*</label>
          <select id="category"
                  class="form-control pr-5 py-0"
                  name="category"
                  required>
            {{> category}}
          </select>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group form-inline">
          <label for="amount"
                 class="mr-5">金額*</label>
          <input type="number"
                 class="form-control"
                 id="amount"
                 name="amount"
                 placeholder="請輸入花費金額 ..."
                 value="{{record.amount}}"
                 required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group form-inline">
          <input type="checkbox"
                 name="isCollab"
                 id="isCollab"
                 class="mr-5 form-check-input"
                 {{#if
                 record.isCollab}}
                 checked
                 {{/if}}>
          <input type="text"
                 class="form-control ml-4"
                 placeholder="Collab"
                 disabled>
        </div>
        <div class="edit-form-submit-button text-center w-100">
          <button class="btn btn-lg btn-primary">修改</button>
        </div>
      </form>
    </div>
  </div>
</div>