<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <form action="/records/category"
            method="GET">
        <div class="form-group">
          <label for="category">篩選</label>
          <select name="category"
                  id="category"
                  class="form-control"
                  onchange="this.form.submit()">
            {{> category}}
          </select>
        </div>
      </form>
      <small class="show-total-amount">
        總金額:
      </small>
      <h1 class="font-weight-bolder text-center">{{addAmount recordsArr}}</h1>
    </div>
  </div>
  <ul class="list-group">
    {{!-- 用迴圈產生支出清單、顯示錯誤訊息提式使用者、新增支出元件 --}}
    {{> records}}
  </ul>
</div>