<div class="container p-1 p-lg-5">
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="card border-0">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-12 col-lg-10 mx-auto">
              <h1 class="text-center">Account Login</h1>
            </div>
          </div>
          <div class="row px-3">
            <div class="col-12 col-lg-10 mx-auto">
              <form class="form text-center"
                    action="/login"
                    method="POST">
                <div class="form-group">
                  <input class="mb-2"
                         type="text"
                         name="email"
                         placeholder="Enter a valid email address"
                         value="captain@hotmail.com">
                </div>
                <div class="form-group">
                  <input type="password"
                         name="password"
                         placeholder="Enter password"
                         value="icandothisallday">
                </div>
                <button type="submit"
                        class="btn btn-primary text-center">Sign in</button>
              </form>
              {{#if wrongAccountError}}
              <div class="alert alert-danger text-center">
                {{{wrongAccountError}}}
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>