<div class="container mt-3">
  <table class="table table-striped table-dark">
    <thead>
      <tr class="
          bg-info">
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Expense Records</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {{#each usersArr}}
      <tr>
        <th scope="row">{{this.firstName}}</th>
        <td>{{this.email}}</td>
        <td><input type="password"
                 value="{{this.password}}"
                 disabled></td>
        <td><button type="button"
                  class="btn btn-primary">
            Records <span class="badge badge-light">4</span>
          </button></td>
        <td>{{this.role}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>



  <ul class="list-group">
    <li class="list-group-item text-center">
      <a class="btn btn-success"
         href="/records/new">
        <h1 class="text-center">新增使用者</h1>
      </a>
    </li>
  </ul>
</div>