<div class="container mt-3">
  <ul class="list-group">
    {{#each usersArr}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-1"><i class="fas fa-user-tag"></i></div>
        <div class="col-3 mr-auto">

          <h2 style="display: inline; vertical-align:middle;">

            <i class="fas fa-shield-virus"></i>
          </h2>
          <h4 style="display: inline; vertical-align: middle;">
            {{this.firstName}}
            <p class="text-muted text-left mr-1"
               style="font-size:8px;">email</p>
          </h4>
        </div>
        <div class="col-3 mr-auto">
          <h5 style="display: inline; vertical-align: middle;">
            record
          </h5>
        </div>
        <div class="col-auto">
          <a class="btn btn-warning"
             href="/records/{{this._id}}/edit">修改</a>
          <form action="/records/{{this._id}}?_method=DELETE"
                method="POST"
                style="display: inline;">
            <button class="btn btn-danger"
                    type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
    <li class="list-group-item text-center">
      <a class="btn btn-success"
         href="/records/new">
        <h1 class="text-center">新增使用者</h1>
      </a>
    </li>
  </ul>
</div>